/* Fix mobile browsers. */
@viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-webkit-viewport {
    width: device-width;
}

@media (prefers-color-scheme: light) {
    header {
        border-bottom: 1px solid black;
    }

    a, a:visited {
        color: blue;
    }
    
    a:hover {
        color: #5f5ffa;
    }
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color:white;
    }
    header {
        border-bottom: 1px solid white;
    }

    a, a:visited {
        color: darkred;
    }

    a:hover {
        color: rgb(139, 50, 50);
    }

}

body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header h1 {
    font-size: 3em;
    margin: 20px 0px 20px 0px;
    font-weight: normal;
}

header nav {
    display: flex;
    justify-content: space-between;    
    width: 15em;
    margin-bottom: 0.5%;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

main > * {
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

article img {
    width: 100%;
}

article h1 {
    font-weight: normal;
    font-size: 1.75em;
}

article h3 {
    font-weight: normal;
    font-size: 1.25em;
}

#snake {
    margin-top: 1%;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

@media (orientation: portrait) {
    main > article, header {
        width: 22.5em;
    }
}

@media (orientation: landscape) {
    main > article, header {
        width: 50em;
    }
}
