/* Fix mobile browsers. */
@viewport {
    width: device-width;
}
@-ms-viewport {
    width: device-width;
}
@-moz-viewport {
    width: device-width;
}
@-webkit-viewport {
    width: device-width;
}

body {
    background-color: white;
    color: black;
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Georgia', serif;
}

canvas {
    border: 1px solid black;
}

a, a:visited {
    color: blue;
}

a:hover {
    color: #5f5ffa;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid black;
}

header h1 {
    font-size: 3em;
    margin: 20px 0px 20px 0px;
    font-weight: normal;
}

header nav {
    display: flex;
    justify-content: space-between;    
    width: 20em;
    margin-bottom: 2%;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

main > * {
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
}

article img, fieldset img {
    width: 100%;
}

article h1, fieldset legend {
    font-weight: normal;
    font-size: 1.75em;
}

article h3, fieldset legend {
    font-weight: normal;
    font-size: 1.25em;
}

fieldset {
    margin-top: 5%;
}

footer {
    margin-top: 3%;
    margin-bottom: 3%;
}

#snake {
    margin-top: 1%;
}

.display-block-links > a {
    display: block;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center {
    display: flex;
    justify-content: center;
}

.no-top-margin {
    margin-top: 0;
}

.no-bottom-margin {
    margin-bottom: 0;
}

.whole-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

@media (orientation: portrait) {
    main > article, main > fieldset, header {
        width: 22.5em;
    }
}

@media (orientation: landscape) {
    main > article, main > fieldset, header {
        width: 50em;
    }
}
