body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(202, 212, 212);
    overflow-x: hidden;
    overflow-y: scroll;
}

a {
    color: teal;
}

a:visited {
    color: rgb(0, 82, 82);
}

#nav a {
    color: white;
}

#nav a:visited {
    color: gold
}

#content {
    display: flex;
    flex-direction: column;
}

#nav {
    margin: 20px;
    border: solid black 3px;
}

#nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0;
    width: 100%;
}

#nav > ul > li {
    list-style: none;
    padding-right: 10;
}

#panel {
    margin: 0px 20px 20px 20px;
    border: solid black 3px;
}

#innerPanel {
    padding: 0 2% 2% 2%;
}

.teal-background {
    background-color: teal;
    color: white;
}

.white-background {
    background-color: white;
    color: black
}

#cardfetcher {
    width: 82vw;
}

#jfim {
    width: 82vw;
}